<%- include('partials/header') -%>
<section>
  <section
    class="container p-5 mx-auto space-x-1 max-w-2xl py-8 px-4 md:px-8 sm:py-24 lg:max-w-5xl lg:px-8 sm:overflow-hidden sm:rounded-md md:py-3"
  >
    <section class="container p-5 px-8 text-center mx-auto">
      <h2 class="text-sm text-gray-700 mb-0 font-bold text-4xl">
        <%= recipe.title %>
      </h2>
    </section>
    <section class="md:grid md:grid-cols-2">
      <section class="md:grid md:grid-cols-1 p-5 px-8 mt-5 md:mt-0">
        <div
          class="min-h-80 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
        >
          <img
            src="<%= recipe.image%>"
            alt="<%= recipe.title %>"
            class="h-full w-full object-cover object-center lg:h-full lg:w-full"
          />
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h5 class="text-sm font-medium text-gray-500">
              Created by <span><%= recipe.createdBy %></span>
            </h5>
          </div>
          <div class="flex space-x-1">
            <form
              class="col-1"
              action="/recipe/likeRecipe/<%= recipe.id %>?_method=PUT"
              method="POST"
            >
              <button
                class="fa-regular fa-heart text-sm font-medium text-gray-900 cursor-pointer"
                type="submit"
              ></button>
            </form>
            <span><%= recipe.likes %></span>
            <form
              class="col-1"
              action="/recipe/saveRecipe/<%= recipe.id %>"
              method="POST"
            >
              <button
                class="fa-regular fa-bookmark text-sm font-medium text-gray-900 cursor-pointer"
                type="submit"
              ></button>
            </form>
            <%if(recipe.user == user.id){ %>
            <form
              action="/recipe/deleteRecipe/<%= recipe.id %>?_method=DELETE"
              method="POST"
              class="col-3"
            >
              <button
                class="btn btn-primary fa fa-trash cursor-pointer"
                type="submit"
              ></button>
            </form>
            <%}%>
          </div>
        </div>
      </section>
      <section class="md:col-span-1 p-5 px-8 mt-0">
        <h4 class="font-bold text-md">Ingredients</h4>
        <p><%= recipe.ingredients %></p>
      </section>
    </section>
  </section>
</section>
<%- include('partials/footer') -%>
