<%- include('partials/header') -%>
<section>

      <section class="container p-5 mx-auto space-x-1 justify-around max-w-2xl py-16 px-8 sm:py-24 lg:max-w-7xl lg:px-8">
        <ul class="mt-6 px-8 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8 list-unstyled">
        <% for(var i=0; i<recipes.length; i++) {%>
          <li class="group relative">
            <div
              class="min-h-80 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
            >
              <img
                src="<%= recipes[i].recipe.image%>"
                alt=""
                class="h-full w-full object-cover object-center lg:h-full lg:w-full"
              />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-md font-medium text-gray-700">
                  <a href="/recipe/<%= recipes[i].recipe._id%>">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <%= recipes[i].recipe.title %>
                  </a>
                </h3>
                
                <h5 class="text-sm  text-gray-500">Created by <span><%= recipes[i].recipe.createdBy %></span></h5>
                <p class="mt-1 text-sm text-gray-500"><%= recipes[i].recipe.title %></p>
              </div>
              <div class="flex space-x-1">
                <i class="fa-regular fa-heart text-sm font-medium text-gray-900"></i>
                <span class="text-sm"><%= recipes[i].recipe.likes %></span>
              </div>
              
            </div>
          </li>
        <% } %>
        </ul>
    
    </section>
</section>
<%- include('partials/footer') -%>